body {
  background-color: #4DB6AC;
}

.grid-container {
  display: grid;
  width: 50vw;
  height: 50vw;
  margin: 50px auto; 
  border: 3px solid #555;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
}

.cell {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

.trace {
  background-color: #333;
}

.btns {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.btn {
  background: #fff;
  color: #333;
  padding: 0.5em 1em;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0, 0.2);
  transition: 0.1s all ease-in-out;
}

.btn:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  box-shadow: 2px 2px 25px 7px rgba(0,0,0, 0.2);
}

input[type='number'] {
  padding: 0.5em 1em;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  margin-right: 15px;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0, 0.2);
  transition: 0.1s all ease-in-out;
}

input[type='number']:focus {
  outline: none;
  box-shadow: 2px 2px 25px 7px rgba(0,0,0, 0.2);
}
